@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Train+One&display=swap');

@media (prefers-color-scheme: dark) {
    body {
        background-color: #212121;
        color: white;
    }
    canvas {
        box-shadow: 0 0 5px white;
    }
}

@media (prefers-color-scheme: light) {
    body {
        background-color: whitesmoke;
        color: black;
    }
    canvas {
        box-shadow: 0 0 5px #212121;
    }
}

body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

h1 {
    color: #212121;
    font-size: 45px;
    font-family: 'Train One', cursive;
    font-style: italic;
    text-shadow: 3px 3px red, 6px 6px #00aeff, 9px 9px #ffff00;
}
